<h1>Bonjour et merci pour votre inscription. Nous vous recontacterons plus tard pour compléter votre profil et vous donner plus d'informations sur notre start-up.  <br> <br>Cordialement l'équipe de Charoyali! </h1>
