<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Charoyali</a>
	</div>

	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
      <li><%= button_to "Déposez une annonce", root_path, class: "btn btn-primary navbar-btn", :method => :get  %></li>

			<li class="dropdown mega-dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Inscription <span class="caret"></span></a>
				<ul class="dropdown-menu mega-dropdown-menu">
					<li class="col-sm-6">
						<ul>
              <div class="text-center">
              <%= button_to "Expédiez des colis ", root_path, class: "btn btn-primary btn-lg", :method => :get  %>
            </div>
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
              <div class="text-center">
              <%= button_to "Livrrez des colis ", root_path, class: "btn btn-primary btn-lg", :method => :get  %>
              </div>
						</ul>
					</li>
				</ul>
			</li>

            <li><a href="#">Connexion</a></li>
            <li><%= button_to "Inscription pour les Pros ", static_pages_pro_path, class: "btn btn-primary navbar-btn", :method => :get  %></li>
		</ul>
        <!--<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="#">My cart (0) items</a></li>
      </ul>-->
	</div><!-- /.nav-collapse -->
  </nav>
</div>
